html, body, div, ul, li, dl, dt, dd, div, h1, h2, h3, h4, h5, h6, section, header, footer, p, button {margin:0; padding:0; font-family:Montserrat Alternates, NotoSansKR; font-size:16px; line-height:120%; color:#555;}

ul, li {list-style:none;}

a {display:block; text-decoration:none;}
a:hover {text-decoration:none;}
img {display:block; width:100%;}
em {font-style:normal;}
span {display:block;}
* {box-sizing: border-box;}

/* 공통 클래스 */
.c_aln_v {vertical-align:middle;}
.c_txt {letter-spacing:1px;}
.c_disn_im {display:none !important;}
.c_disn {display:none;}
.c_disb {display:block;}
.c_disin {display:inline-block;}
.c_disf {display:flex; width:100%;}
.c_abs {position:absolute;}
.c_rel {position:relative;}
.c_fix {position:fixed;}
.c_ofh {overflow:hidden;}
.c_lf {float:left;}
.c_rf {float:right;}
.c_clear:after {content:""; display:block; clear:both;}
.c_container {width:100%; max-width:1200px; margin:0 auto; padding: 0 15px;}

.c_sec_tit {text-transform:uppercase;}

/* 제품 리스트 */
.c_pro_list > li {position: relative; padding:0 15px;}

.c_pro_info {position:absolute; bottom:1em; text-indent:1em;}
.c_pro_color li {float:left;}

li[class^="c_pro_list"] {overflow: hidden; display: flex; flex-direction: column; flex-basis: 25%;}
div img {height: auto;}
li[class^="c_pro_list"] .c_pro_con {flex: auto;}

li[class^="c_pro_list"].c_on {flex-basis: 50%;}

.c_pro_list1 .c_pro_con {background: red;}
.c_pro_list2 .c_pro_con {background: green;}
.c_pro_list3 .c_pro_con {background: black;}

/*
.c_pro_list1 .c_pro_con {background: url("../img/pro-1.png"); width: 100%; height: 100%;}
.c_pro_list2 .c_pro_con {background: url("../img/pro-2.png"); width: 100%; height: 100%;}
.c_pro_list3 .c_pro_con {background: url("../img/pro-3.png"); width: 100%; height: 100%;}
*/
